<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>SpringBoot-내용 수정</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript">
	function del() {
		alert("삭제하시겠습니까?");
	}
</script>
</head>
<body>
 <div>
	<div style="padding: 10px; text-align: center;">
		<h3><a th:href="@{/fileBoard/list}" style="text-decoration: none;">게시글 수정</a></h3>
	</div>
	
	<div>
		<form role="form" th:object=${fileBoardVO} th:action="@{/fileBoard/updateProc}" method="post">
		 <div>
			<label for="title" style="font-weight: bolder;">제 목 &nbsp;</label>
			<input type="text" id="title" name="title" th:value="${detail.title}">
		 </div>
		 <div>
			<label for="writer" style="font-weight: bolder;">작성자</label>
			<input type="text" id="writer" name="writer" th:value="${detail.writer}" disabled="disabled">
		 </div><br>
		 <div>
			<label style="font-weight: bolder;">첨부 파일</label>
			<!-- 첨부파일 -->
			<p>
			<a th:if="${file}" th:href="@{/fileBoard/fileDown/{bno} (bno=${file.b_no})}">[[${file.originfilenm}]]</a>
			</p>
		 </div>
		 <div>
			<label for="content" style="font-weight: bolder;">내용</label><br>
			<textarea id="content" name="content" rows="10" cols="50">[[${detail.content}]]
			</textarea>
		 </div>
		 <div style="text-align: right;">
		 	<input type="hidden" name="b_no" th:value="${detail.b_no}">
		 	<button><a th:href="@{/fileBoard/list}">목록</a></button>
		 	<input type="submit" th:value="수정완료">
		 	<button><a th:onclick="|javascript:del()|" th:href="@{/fileBoard/delete/{bno} (bno=${detail.b_no})}">삭제</a></button>
		 	<!-- input type="submit" th:value="삭제"
		 		th:formaction="@{/fileBoard/delete/{bno} (bno=${detail.b_no})}"> -->
		</div>
		</form>
	</div>
	<br><br><br>
 </div>
</body>
</html>